<!DOCTYPE html>
<html lang="{{ site.lang | default: "id-ID" }}">
  <head>
    <meta charset="UTF-8">
<meta name="google-site-verification" content="7ALOiSFp2bwt8BrwsB5fNrlYLhuru33p50pYwRu_hyQ" />

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<style>
	.tengah{text-align: center;}
	</style>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="/hosting/" class="btn">Home</a>
        <a href="/hosting/niagahoster.html" class="btn">Niagahoster</a>
        <a href="/hosting/idcloudhost.html" class="btn">Idcloudhost</a>
        <a href="/hosting/domainesia.html" class="btn">Domainesia</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
<hr />
      <footer class="site-footer">
        <span class="site-footer-credits">Created by <a href="https://beritateknologi.id">Berita Teknologi</a>.</span>
      </footer>
    </main>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Table",
  "about": "{{ page.title | default: site.title}}"
}
</script>
<script type="application/ld+json">
{ "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "headline": "{{ page.title | default: site.title}}",
 "alternativeHeadline": "{{ page.title | default: site.title}}",
 "image": "https://i0.wp.com/static10.tgstat.ru/channels/_0/ac/accb9f7e8ed3975ad224d836411b4415.jpg",
 "award": "Tulisan terbaik 2020",
 "editor": "Menkominfo", 
 "genre": "Review", 
 "keywords": "hosting terbaik", 
 "wordcount": "1520",
 "publisher": "Menkominfo",
 "url": "https://beritateknologi.id/web-hosting-terbaik/",
 "datePublished": "2020-09-04",
 "dateCreated": "2020-09-04",
 "dateModified": "2020-09-04",
 "description": "{{ page.description | default: site.description }}",
 "articleBody": "{{ page.description | default: site.description }}",
   "author": {
    "@type": "Person",
    "name": "Menkominfo"
  }
 }
</script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "brand": {
        "@type": "Brand",
        "name": "Niagahoster"
      },
      "description": "{{ page.description | default: site.description }}",
      "sku": "b129e5f4fb67db407df986613cf504re",
      "mpn": "t129e5f4fb67db407df986613cf504re",
      "image": "https://i0.wp.com/static10.tgstat.ru/channels/_0/ac/accb9f7e8ed3975ad224d836411b4415.jpg",
      "name": "{{ page.title | default: site.title}}",
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Menkominfo"
        },
        "reviewBody": "{{ page.description | default: site.description }}"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "90",
        "bestRating": "100",
        "ratingCount": "93017"
      },
      "offers": {
        "@type": "Offer",
        "url": "https://beritateknologi.id/web-hosting-terbaik/",
        "priceCurrency": "IDR",
        "price": "0",
        "priceValidUntil": "2021-11-04",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "Niagahoster"
        }
      }
    }
    </script>
<script type="application/ld+json">
[{
  "@context" : "https://schema.org",
  "@type" : "MusicEvent",
  "name" : "{{ page.title | default: site.title}}",
  "startDate" : "2021-04-12T19:30",
  "location" : {
    "@type" : "Place",
    "name" : "Indonesia",
    "address" : "Jakarta, Indonesia"
  },
  "offers" : {
     "@type" : "Offer",
     "url" : "https://beritateknologi.id/web-hosting-terbaik/"
  }
},
{
  "@context" : "http://schema.org",
  "@type" : "MusicEvent",
  "name" : "Niagahoster",
  "startDate" : "2022-04-13T20:00",
  "location" : {
    "@type" : "Place",
    "name" : "Indonesia",
    "address" : "Jakarta, Indonesia"
  },
  "offers" : {
    "@type" : "Offer",
    "url" : "https://beritateknologi.id/web-hosting-terbaik/"
  }
}]
</script>
    <script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
     [
      {
       "@type": "ListItem",
       "position": 1,
       "item":
       {
        "@id": "https://beritateknologi.id",
        "name": "Home"
        }
      },
      {
       "@type": "ListItem",
      "position": 2,
      "item":
       {
         "@id": "https://beritateknologi.id/web-hosting-terbaik/",
         "name": "Hosting Terbaik"
       }
      }
     ]
    }
    </script>
  </body>
</html>